 body {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Acme', sans-serif;
 }

 .section-1 {
     display: flex;
     justify-content: space-evenly;
     background: linear-gradient( 45deg, #1dccba, transparent);
 }

 .logo {
     font-weight: 500;
     font-size: 1.5rem;
     line-height: 4rem;
     color: white;
 }

 .header ul {
     display: flex;
     list-style: none;
     margin: 1rem 0rem;
     padding: 0rem;
     justify-content: center;
 }

 .nav-link {
     text-transform: uppercase;
     color: white;
     text-decoration: underline;
 }

 .nav-link:hover {
     color: #5c637d;
     ;
     text-decoration: none;
     font-weight: 500;
 }

 .section-2 {
     height: 30rem;
 }

 .subpart {
     display: flex;
     justify-content: space-evenly;
     position: relative;
     top: 2rem;
 }

 .image {
     width: 50%;
 }

 .svgimage {
     width: 100%
 }

 .section-3 {
     position: relative;
     top: 2rem;
 }

 .progress-bar {
     background-color: #35d2c1;
 }

 .section-4 {
     position: relative;
     top: 3rem;
     display: flex;
     flex-direction: row-reverse;
 }

 .card-title {
     margin-bottom: .5rem;
     color: #3bc5b7;
 }

 .card-link {
     color: #4e8b96;
     text-decoration: underline;
 }

 .text-muted {
     color: #c72717!important;
     font-size: larger;
 }

 .card-text {
     color: #211d1b;
     font-size: 24px;
 }

 .artical {
     justify-content: center;
     position: relative;
     top: 2rem;
     width: 75%;
     margin: 0px auto;
 }

 .progress-skils {
     margin: .8rem 0rem;
     font-weight: 500;
 }

 .footer {
     position: relative;
     top: 6rem;
 }

 .footer-header {
     text-align: center;
     font-size: 30px;
     color: #5c637d;
 }

 .social-link {
     display: flex;
     justify-content: center;
 }

 .list-item-inline {
     list-style: none;
 }

 .link {
     color: #2dd0bf;
     text-decoration: underline;
     padding: 0rem 1rem;
     font-size: xx-large;
 }

 .link:hover {
     color: #5c637d;
 }

 /* Education Css */

 .education-content {
     margin: 1rem 0rem;
 }

 .col-4 img {
     width: 100%;
 }

 .edu-title {
     color: red;
     font-size: 21px;
 }

 .edu-university {
     color: cadetblue;
     font-size: 18px;
 }

 .second-education {
     margin: 1rem 0rem;
 }

 .grad-image {
     position: relative;
     top: 4rem;
 }

 /* project css */

 .project-img {
     margin: 1rem 16rem;
     width: 55%;
 }

 .project-button {
     text-align: center;
 }

 .project-card {
     border: 1px solid rgb(99 255 222);
 }

 .project-toggle-btn {
     color: #fff;
     background-color: #f55f44;
     margin-top: .5rem!important;
     width: 30%;
     text-decoration: underline;
 }

 .project-toggle-btn:hover {
     color: #fff;
     background-color: #e23213;
     border: none;
 }

 .btn:focus {
     box-shadow: none;
 }

 .project-screenshot {
     text-align: end;
 }

 .project-screenshot img {
     width: 40%;
     cursor: pointer;
     text-align: end;
 }

 #collapseWidthExample {
     margin: 1rem 0rem;
 }

 .project-title {
     color: #bd523f;
     font-size: 20px;
 }

 @media only screen and (min-width:200px) and ( max-width:767px) {
     .section-1 {
         flex-direction: column;
     }
     .logo {
         text-align: center;
     }
     .image {
         width: 100%;
     }
     .subpart {
         flex-direction: column;
     }
     .section-4 {
         flex-direction: column;
     }
     .front-card {
         width: 100%!important;
     }
     .first-education {
         flex-direction: column-reverse;
     }
     .second-education {
         flex-direction: column;
     }
     .third-education {
         flex-direction: column-reverse;
     }
     .col-8 {
         width: 100%;
         margin-top: 1rem;
     }
     .col-4 {
         width: 100%;
     }
     .grad-image {
         position: relative;
         top: 0rem;
     }
     .project-img {
         margin: 1rem 0rem;
         width: 100%;
     }
     .project-footer {
         position: relative;
         top: 3rem;
     }
 }